* {
	box-sizing: border-box;
}
.App {
	text-align: center;
}
.container {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-weight: normal;
	font-size: 3rem;
	color: #323375;
	text-align: center;
}
.App-header {
	background-color: #b7b9bd;
	padding-bottom: 10px;
	align-items: center;
	justify-content: center;
	font-size: calc(20px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

#id {
	float: left;
	padding-left: 1%;
}

.todoItem {
	border: 1px solid white;
	padding: 10px 0;
	cursor: pointer;
}

.input {
	height: 30px;
	width: 100%;
	font-size: 1rem;
}

button {
	padding: 10px 35px;
	font-size: 1rem;
	border-radius: 5px;
}

form {
	color: black;
	padding-top: 30px;
}

.nav {
	display: block;
	background: #323375;
	color: white;
}
.nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.nav li a {
	color: white;
	text-decoration: none;
}

.construction {
	color: red;
	font-size: 2rem;
}

.SecondApp {
	width: 30%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 2px solid #323375;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 20px;
}

.SecondApp input {
	font-size: 1rem;
	background: white;
}

.info {
	width: 100%;
	padding-top: 10px;
	margin: 0px auto 0 auto;
	border: 5px solid #323375;
	border-top: none;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	text-align: center;
}

.info img {
	width: 70px;
}

.error {
	width: 100%;
	text-align: center;
}

.error h3 {
	color: red;
}

.center {
	width: 100%;
	text-align: center;
}

.inCenter {
	display: block;
	text-align: center;
	margin: 0 auto;
}
